@media screen and (max-width: 768px){
img{
max-width: 100%;
height: auto;
}
#wrapper{
width:100%;
height: 100%;
font-size: 90%;
margin:0 auto;
}

.header-left{
  margin: 0 0 2% 24%;
}

.header-right{
  position: absolute;
  top:2.5%;
  right: 0.5%;
}

.header-right li{
	margin-left: -14px;
}

.header-right img{
  width: 75%;
}

.news{
  width: 100%;
  height: 20%;
  margin: 1% 0;
}

.sin{
  display: table-row;
  width: 90%;
}

.img_con{
  width: 50%;
}
}


@media screen and (max-width:414px){
img{
max-width: 100%;
height: auto;
}
#wrapper{
width:100%;
height: 100%;
font-size: 70%;
margin:0 auto;
}

.header-left{
  margin: 12% 0 2% 6%;
}

h1{
  font-size: 110%;
}

.header-right{
  position: absolute;
  top:2.5%;
  right: 0.5%;
}

.header-right li{
	margin-left: -14px;
}

.header-right img{
  width: 75%;
}

.banner {
  width: 100%;
  margin: 1% 1%;
  text-align: center;
}

.banner img{
    width: 45%;
  margin-left: 1%;
}

.news{
  margin: 5% 0;
}

.sin{
  display: table-row;
}

.textbox{
  display: table-row;
  font-size: 16px;
  height:2em;
  border-radius:7px;
}

.contents01,
.contents02,
.contents03,
.contents04,
.contents05,
.contents06{
  padding: 5% 5% 15% 5%;
}

h3{
  font-size: 15px;
  background-size: 16px;
  padding:0 0 0 6%;
}

h4{
  font-size: 14px;
}

h5{
  font-size: 24px;
  margin-bottom: 10px;

}

p{
  font-size: 14px;
  padding-bottom: 12px;
}

.img_con{
  display: table-row;
  text-align: center;
}

.manner h1{
  font-size: 20px;
}

.text h2{
  font-size: 20px;
}

#season{
	margin:1rem 0;
}

.text1,
.text2,
.text3,
.text4{
	max-width: 100%;
	padding-bottom: 15%;
}

.text1 h3,
.text2 h3,
.text3 h3,
.text4 h3{
  margin-top: 0;
}

#ranking h2{
  font-size: 20px;
}
